* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}

.header {
    height: 63px;
    background-color: #428bca;
}
.header .logo {
    width: 164px;
    margin-left: 34px;
    margin-top: 12px;
    margin-right: 36px;
    float: left;
}
.header .nav {
    float: left;
    height: 63px;
}

.header .nav li {
    padding: 0 24px;
    float: left;
    height: 63px;

}
.header .nav a {
    font-size: 20px;
    line-height: 63px;
    color: #fff;
    position: relative;
    display: block;
    height: 63px;
}
.header .nav a img {
    display: inline-block;
    vertical-align: middle;
}
.header .nav li:hover {
    background-color: #fff;
}
.header .nav li:hover a {
    color: #428bca;
}

.header a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    /* background-color: #428bca; */
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}
.header .nav li:hover a::after{
    display: block;
}

.header-right {
    float: right;
    margin-right: 40px;
}
.header-right span {
    float: left;
    margin-top: 24px;
    color: #fff;
    position: relative;
}
.header-right .position {
    margin-right: 26px;
}
.header-right span::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 7px solid;
    border-color:#fff transparent transparent transparent;
    position: absolute;
    right: -18px;
    top: 8px;
}

.main {
    height: calc(100% - 63px);
    background-color: pink;
}

.main-left {
    width: 236px;
    height: 100%;
    border-right: 1px solid #ccc;
    background-color: #f2f2f2;
    float: left;
}
.main-left li {
    height: 47px;
    border-bottom: 1px solid #000;
}
.main-left li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 47px;
    text-indent: 53px;
    background: url("./img/后台管理系统/bottomicon.jpg") no-repeat 206px center, url("./img/后台管理系统/icon3.jpg") no-repeat 17px center;
    color: #000;
}
.main-left li:hover {
    background-color: #fff;
}
.main-left li:hover a {
    color: #428bca;
}
.main-left-img {
    width: 100%;
}
.main-right {
    width: calc(100% - 237px);
    height: 100%;
    background-color: #fff;
    float: left;
}
.main-right-nav {
    height: 50px;
    border-bottom: 1px solid #000;
    line-height: 50px;
    padding-left: 18px;
}
.main-right-nav span a {
    float: left;
}
.main-right-nav span img {
    float: left;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
}
.main-right .main-right-container {
    height: calc(100% - 51px);
    background-color: yellow;
    overflow: auto;
}
.main-right-container table {
    width: 80%;
    height: 1000px;
}
table, td {
    border: 1px solid #000;
}